name: PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  conventional-title:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            test
            refactor
            chore
            ci
            perf
            build
            revert
